

.searchHistory{
    position: absolute;
    border: 3px solid #00B4CC;
    border-radius: 5px;
    border-width: thin;
    color: rgb(86, 90, 88);
    padding: 5px;
    font-size: 12px;
}


body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  padding-top: 50px;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.output{
    position: absolute; 
    color: rgb(86, 90, 88);
    padding: 50px;
    font-size: 12px;
}


.searchContainer
{
    background-color: #EEE;
    position: relative;   
}

ul {
    list-style-type: none;
  }

div:empty {
    display: none;
}

.img-style{
    width:100px;  
    height:100px;
    padding-left: 10px;
}

.flex-line{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.flex-item{
    text-align: center;
    margin: 5px;
}